<div>
    <h2 id="page-heading">
        <span jhiTranslate="app.earlyPickupRequest.home.title">Early Pickup Requests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-early-pickup-request" [routerLink]="['/early-pickup-request', 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="app.earlyPickupRequest.home.createLabel">Create new Early Pickup Request</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="earlyPickupRequests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            
            <th><span jhiTranslate="app.earlyPickupRequest.comments">Comments</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.eventDate">Event Date</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.pickupPerson">Pickup Person</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.pickupPersonPhone">Pickup Person Phone</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.pickupTime">Pickup Time</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.returning">Returning</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.returnTime">Return Time</span></th>
            <th><span jhiTranslate="app.earlyPickupRequest.student">Student</span></th>
            
            <th><span jhiTranslate="app.earlyPickupRequest.submittedByUsername">Submitted By Username</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let earlyPickupRequest of earlyPickupRequests ;trackBy: trackId">
                <td><a [routerLink]="['/early-pickup-requests', earlyPickupRequest.id, 'view']">{{earlyPickupRequest.id}}</a></td>
                
                <td>{{earlyPickupRequest.comments}}</td>
                <td>{{earlyPickupRequest.eventDate}}</td>
                <td>{{earlyPickupRequest.pickupPerson}}</td>
                <td>{{earlyPickupRequest.pickupPersonPhone}}</td>
                <td>{{earlyPickupRequest.pickupTime}}</td>
                <td>{{earlyPickupRequest.returning}}</td>
                <td>{{earlyPickupRequest.returnTime}}</td>
                <td>
                    <div *ngIf="earlyPickupRequest.studentId">
                        <a [routerLink]="['/students', earlyPickupRequest.studentId , 'view' ]" >{{earlyPickupRequest.studentIdentifier}}</a>
                    </div>
                </td>
                
                <td>{{earlyPickupRequest.submittedByUsername}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/early-pickup-requests', earlyPickupRequest.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/early-pickup-requests', earlyPickupRequest.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'early-pickup-request/'+ earlyPickupRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>