<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-teacher-heading" jhiTranslate="app.teacher.home.createOrEditLabel">Create or edit a Teacher</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teacher.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [ngModel]="teacher.id" readonly />
                </div>
                <div class="form-group" [hidden]="!teacher.schoolId">
                    <label class="form-control-label" jhiTranslate="app.teacher.school" for="school">School</label>
                    <input type="text" class="form-control" id="school" name="school" [(ngModel)]="teacher.schoolIdentifier" readonly />
                </div>
                
                <!-- First Name Form Field -->
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.teacher.firstName" for="first_name">First Name</label>
                <input type="text" class="form-control" name="firstName" id="first_name"
                    [(ngModel)]="teacher.firstName" />
                </div>
                <!-- Last Name Form Field -->
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.teacher.lastName" for="last_name">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="last_name"
                    [(ngModel)]="teacher.lastName" />
                </div>
                
                
                
                <!-- School Grade Form Field -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="app.teacher.schoolGrade" for="school_grade">School Grade</label>
                    <select class="form-control" id="school_grade" name="schoolGrade" [(ngModel)]="teacher.schoolGradeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolGradeOption.id" *ngFor="let schoolGradeOption of schoolGrades; trackBy: trackSchoolGradeById">{{schoolGradeOption.identifier}}</option>
                    </select>
                </div>
                <!-- Students Form Field -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="app.teacher.emailAddress" for="email_address">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="email_address"
                        [(ngModel)]="teacher.emailAddress" required/>
                    <div [hidden]="!(editForm.controls.emailAddress?.dirty && editForm.controls.emailAddress?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.emailAddress?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>