<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-student-heading" jhiTranslate="app.student.home.createOrEditLabel">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!student.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [ngModel]="student.id" readonly />
                </div>
                <div class="form-group" [hidden]="!student.schoolId">
                    <label class="form-control-label" jhiTranslate="app.student.school" for="school">School</label>
                    <input type="text" class="form-control" id="school" name="school" [(ngModel)]="student.schoolIdentifier" readonly />
                </div>
                
                <!-- First Name Form Field -->
                
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.student.firstName" for="first_name">First Name</label>
                <input type="text" class="form-control" name="firstName" id="first_name"
                    [(ngModel)]="student.firstName" required/>
                <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
                </div>
                
                
                <!-- Last Name Form Field -->
                
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.student.lastName" for="last_name">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="last_name"
                    [(ngModel)]="student.lastName" required/>
                <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
                </div>
                
                
                
                <!-- Parents Form Field -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="app.student.parents" for="parents">Parents</label>
                    <select class="form-control" id="parents" name="parents" multiple [(ngModel)]="student.parents">
                        <option [ngValue]="getSelected(student.parents, parentOption)" *ngFor="let parentOption of parents; trackBy: trackParentById">{{parentOption.id}}</option>
                    </select>
                </div>
                <!-- School Grade Form Field -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="app.student.schoolGrade" for="school_grade">School Grade</label>
                    <select class="form-control" id="school_grade" name="schoolGrade" [(ngModel)]="student.schoolGradeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolGradeOption.id" *ngFor="let schoolGradeOption of schoolGrades; trackBy: trackSchoolGradeById">{{schoolGradeOption.identifier}}</option>
                    </select>
                </div>
                
                <!-- Teacher Form Field -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="app.student.teacher" for="teacher">Teacher</label>
                    <select class="form-control" id="teacher" name="teacher" [(ngModel)]="student.teacherId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teacherOption.id" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.identifier}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>