<div>
    <h2 id="page-heading">
        <span jhiTranslate="app.student.home.title">Students</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/parents', parentId, 'create-student']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="app.student.home.createLabel">Create new Student</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="students">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="app.student.firstName">First Name</span></th>
            <th><span jhiTranslate="app.student.lastName">Last Name</span></th>
            <th><span jhiTranslate="app.student.school">School</span></th>
            
            <th><span jhiTranslate="app.student.schoolGrade">School Grade</span></th>
            
            <th><span jhiTranslate="app.student.teacher">Teacher</span></th>
            
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td><a [routerLink]="['/students', student.id, 'view']">{{student.id}}</a></td>
                <td>{{student.firstName}}</td>
                
                <td>{{student.lastName}}</td>
                
                <td>
                    <div *ngIf="student.schoolId">
                        <a [routerLink]="['/schools', student.schoolId , 'view' ]" >{{student.schoolIdentifier}}</a>
                    </div>
                </td>
                
                <td>
                    <div *ngIf="student.schoolGradeId">
                        <a [routerLink]="['/school-grades', student.schoolGradeId , 'view' ]" >{{student.schoolGradeIdentifier}}</a>
                    </div>
                </td>
                
                <td>
                    <div *ngIf="student.teacherId">
                        <a [routerLink]="['/teachers', student.teacherId , 'view' ]" >{{student.teacherIdentifier}}</a>
                    </div>
                </td>
                
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/students', student.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/students', student.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>