<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="app.student.detail.title">Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                
                <!-- Family Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.student.family">Family</span></dt>
                <dd>
                    <div *ngIf="student.familyId">
                        <a [routerLink]="['/families', student.familyId, 'view']">{{student.familyIdentifier}}</a>
                    </div>
                </dd>
                
                <dt><span jhiTranslate="app.student.firstName">First Name</span></dt>
                <dd>
                    <span>{{student.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="app.student.lastName">Last Name</span></dt>
                <dd>
                    <span>{{student.lastName}}</span>
                </dd>
                <!-- School Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.student.school">School</span></dt>
                <dd>
                    <div *ngIf="student.schoolId">
                        <a [routerLink]="['/schools', student.schoolId, 'view']">{{student.schoolIdentifier}}</a>
                    </div>
                </dd>
                
                <!-- School Grade Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.student.schoolGrade">School Grade</span></dt>
                <dd>
                    <div *ngIf="student.schoolGradeId">
                        <a [routerLink]="['/school-grades', student.schoolGradeId, 'view']">{{student.schoolGradeIdentifier}}</a>
                    </div>
                </dd>
                
            </dl>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button" [routerLink]="['/students', student.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>