<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="school">
            <h2><span jhiTranslate="app.school.detail.title">School</span> {{school.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                
                <dt><span jhiTranslate="app.school.abbreviation">Abbreviation</span></dt>
                <dd>
                    <span>{{school.abbreviation}}</span>
                </dd>
                <!-- After School Programs Form Field based on ONE_TO_MANY relationship -->
                <dd>
                <a [routerLink]="['/after-school-programs']" [queryParams]="{ schoolId: school.id }"><span jhiTranslate="app.school.afterSchoolPrograms">After School Programs</span>
                </dd>
                
                <!-- Dismissal Locations Form Field based on ONE_TO_MANY relationship -->
                <dd>
                <a [routerLink]="['/dismissal-locations']" [queryParams]="{ schoolId: school.id }"><span jhiTranslate="app.school.dismissalLocations">Dismissal Locations</span>
                </dd>
                
                <dt><span jhiTranslate="app.school.goHomeNotesDailyCutoffTime">Go Home Notes Daily Cutoff Time</span></dt>
                <dd>
                    <span>{{school.goHomeNotesDailyCutoffTime}}</span>
                </dd>
                <dt><span jhiTranslate="app.school.goHomeNotesStartDate">Go Home Notes Start Date</span></dt>
                <dd>
                    <span>{{school.goHomeNotesStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="app.school.goHomeNotesStopDate">Go Home Notes Stop Date</span></dt>
                <dd>
                    <span>{{school.goHomeNotesStopDate}}</span>
                </dd>
                <dt><span jhiTranslate="app.school.name">Name</span></dt>
                <dd>
                    <span>{{school.name}}</span>
                </dd>
                <!-- School Grades Form Field based on ONE_TO_MANY relationship -->
                <dd>
                <a [routerLink]="['/school-grades']" [queryParams]="{ schoolId: school.id }"><span jhiTranslate="app.school.schoolGrades">School Grades</span>
                </dd>
                
                <!-- Students Form Field based on ONE_TO_MANY relationship -->
                <dd>
                <a [routerLink]="['/students']" [queryParams]="{ schoolId: school.id }"><span jhiTranslate="app.school.students">Students</span>
                </dd>
                
                <!-- Teachers Form Field based on ONE_TO_MANY relationship -->
                <dd>
                <a [routerLink]="['/teachers']" [queryParams]="{ schoolId: school.id }"><span jhiTranslate="app.school.teachers">Teachers</span>
                </dd>
                
            </dl>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button" [routerLink]="['/schools', school.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>