<div>
    <h2 id="page-heading">
        <span jhiTranslate="app.address.home.title">Addresses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address" [routerLink]="['/address', 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="app.address.home.createLabel">Create new Address</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="app.address.line1">Line 1</span></th>
            <th><span jhiTranslate="app.address.line2">Line 2</span></th>
            <th><span jhiTranslate="app.address.city">City</span></th>
            <th><span jhiTranslate="app.address.state">State</span></th>
            <th><span jhiTranslate="app.address.zipCode">Zip Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['/addresses', address.id, 'view']">{{address.id}}</a></td>

                
                <td>{{address.line1}}</td>
                
                <td>{{address.line2}}</td>
                <td>{{address.city}}</td>
                <td jhiTranslate="{{'app.state.' + address.state}}">{{address.state}}</td>
                <td>{{address.zipCode}}</td>
                
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/addresses', address.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/addresses', address.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>