<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-transportation-change-request-heading" jhiTranslate="app.transportationChangeRequest.home.createOrEditLabel">Create or edit a Transportation Change Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transportationChangeRequest.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [ngModel]="transportationChangeRequest.id" readonly />
                </div>
                
                
                <!-- Comments Form Field -->
                
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.transportationChangeRequest.comments" for="comments">Comments</label>
                <input type="text" class="form-control" name="comments" id="comments"
                    [(ngModel)]="transportationChangeRequest.comments" /></div>
                
                
                
                <!-- Event Date Form Field -->
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.transportationChangeRequest.eventDate" for="event_date">Event Date</label>
                <div class="input-group">
                    <input id="event_date" type="text" class="form-control" name="eventDate" ngbDatepicker  #eventDateDp="ngbDatepicker" [(ngModel)]="transportationChangeRequest.eventDate"
                    required/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="eventDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                    </span>
                    <div [hidden]="!(editForm.controls.eventDate?.dirty && editForm.controls.eventDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.eventDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
                    </div>
            </div>
                
                
                
                <!-- Submitted By Username Form Field -->
                
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.transportationChangeRequest.submittedByUsername" for="submitted_by_username">Submitted By Username</label>
                <input type="text" class="form-control" name="submittedByUsername" id="submitted_by_username"
                    [(ngModel)]="transportationChangeRequest.submittedByUsername" /></div>
                
                
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>