<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transportationChangeRequest">
            <h2><span jhiTranslate="app.transportationChangeRequest.detail.title">Transportation Change Request</span> {{transportationChangeRequest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                
                <dt><span jhiTranslate="app.transportationChangeRequest.comments">Comments</span></dt>
                <dd>
                    <span>{{transportationChangeRequest.comments}}</span>
                </dd>
                <!-- Dismissal Location Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.transportationChangeRequest.dismissalLocation">Dismissal Location</span></dt>
                <dd>
                    <div *ngIf="transportationChangeRequest.dismissalLocationId">
                        <a [routerLink]="['/dismissal-locations', transportationChangeRequest.dismissalLocationId, 'view']">{{transportationChangeRequest.dismissalLocationIdentifier}}</a>
                    </div>
                </dd>
                
                <dt><span jhiTranslate="app.transportationChangeRequest.eventDate">Event Date</span></dt>
                <dd>
                    <span>{{transportationChangeRequest.eventDate}}</span>
                </dd>
                <!-- Student Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.transportationChangeRequest.student">Student</span></dt>
                <dd>
                    <div *ngIf="transportationChangeRequest.studentId">
                        <a [routerLink]="['/students', transportationChangeRequest.studentId, 'view']">{{transportationChangeRequest.studentIdentifier}}</a>
                    </div>
                </dd>
                
                <dt><span jhiTranslate="app.transportationChangeRequest.submittedByUsername">Submitted By Username</span></dt>
                <dd>
                    <span>{{transportationChangeRequest.submittedByUsername}}</span>
                </dd>
            </dl>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button" [routerLink]="['/transportation-change-requests', transportationChangeRequest.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>