<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-daily-verification-record-heading" jhiTranslate="app.dailyVerificationRecord.home.createOrEditLabel">Create or edit a Daily Verification Record</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dailyVerificationRecord.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [ngModel]="dailyVerificationRecord.id" readonly />
                </div>
                
                <!-- Go Home Notes Report Form Field -->
                <div class="form-group">
                <label class="form-control-label" jhiTranslate="app.dailyVerificationRecord.goHomeNotesReport" for="go_home_notes_report">Go Home Notes Report</label>
                    <div>
                        <div *ngIf="dailyVerificationRecord.goHomeNotesReport" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(dailyVerificationRecord.goHomeNotesReportMimeType, dailyVerificationRecord.goHomeNotesReport)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{dailyVerificationRecord.goHomeNotesReportMimeType}}, {{byteSize(dailyVerificationRecord.goHomeNotesReport)}}</span>
                            <button type="button" (click)="dailyVerificationRecord.goHomeNotesReport=null;dailyVerificationRecord.goHomeNotesReportMimeType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_goHomeNotesReport" (change)="setFileData($event, dailyVerificationRecord, 'goHomeNotesReport', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="go_home_notes_report" id="goHomeNotesReport" [(ngModel)]="dailyVerificationRecord.goHomeNotesReport" />
                    <input type="hidden" class="form-control" name="go_home_notes_reportMimeType" id="goHomeNotesReportMimeType" [(ngModel)]="dailyVerificationRecord.goHomeNotesReportMimeType" />
                </div>
                <!-- Timestamp Form Field -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="app.dailyVerificationRecord.timestamp" for="timestamp">Timestamp</label>
                    <input type="text" class="form-control" name="timestamp" id="timestamp"
                        [(ngModel)]="dailyVerificationRecord.timestamp" required/>
                    <div [hidden]="!(editForm.controls.timestamp?.dirty && editForm.controls.timestamp?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.timestamp?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>