<div>
    <h2 id="page-heading">
        <span jhiTranslate="app.parent.home.title">Parents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parent" [routerLink]="['/families', familyId, 'create-parent']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="app.parent.home.createLabel">Create new Parent</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="parents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="app.parent.address">Address</span></th>
            <th><span jhiTranslate="app.parent.emailAddress">Email Address</span></th>
            <th><span jhiTranslate="app.parent.family">Family</span></th>
            
            <th><span jhiTranslate="app.parent.firstName">First Name</span></th>
            <th><span jhiTranslate="app.parent.lastName">Last Name</span></th>
            <th><span jhiTranslate="app.parent.primaryPhoneNumber">Primary Phone Number</span></th>
            <th><span jhiTranslate="app.parent.secondaryPhoneNumber">Secondary Phone Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parent of parents ;trackBy: trackId">
                <td><a [routerLink]="['/parents', parent.id, 'view']">{{parent.id}}</a></td>
                <td>{{parent.address}}</td>
                <td>{{parent.emailAddress}}</td>
                <td>
                    <div *ngIf="parent.familyId">
                        <a [routerLink]="['/families', parent.familyId , 'view' ]" >{{parent.familyIdentifier}}</a>
                    </div>
                </td>
                <td>{{parent.firstName}}</td>
                <td>{{parent.lastName}}</td>
                <td>{{parent.primaryPhoneNumber}}</td>
                <td>{{parent.secondaryPhoneNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/parents', parent.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parents', parent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent/'+ parent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>