<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hostRequest">
            <h2><span jhiTranslate="app.hostRequest.detail.title">Host Request</span> {{hostRequest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                
                <dt><span jhiTranslate="app.hostRequest.comments">Comments</span></dt>
                <dd>
                    <span>{{hostRequest.comments}}</span>
                </dd>
                <dt><span jhiTranslate="app.hostRequest.confirmationNotes">Confirmation Notes</span></dt>
                <dd>
                    <span>{{hostRequest.confirmationNotes}}</span>
                </dd>
                <dt><span jhiTranslate="app.hostRequest.confirmed">Confirmed</span></dt>
                <dd>
                    <span>{{hostRequest.confirmed}}</span>
                </dd>
                <dt><span jhiTranslate="app.hostRequest.confirmedByUsername">Confirmed By Username</span></dt>
                <dd>
                    <span>{{hostRequest.confirmedByUsername}}</span>
                </dd>
                <dt><span jhiTranslate="app.hostRequest.eventDate">Event Date</span></dt>
                <dd>
                    <span>{{hostRequest.eventDate}}</span>
                </dd>
                <!-- Guest Student Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.hostRequest.guestStudent">Guest Student</span></dt>
                <dd>
                    <div *ngIf="hostRequest.guestStudentId">
                        <a [routerLink]="['/students', hostRequest.guestStudentId, 'view']">{{hostRequest.guestStudentIdentifier}}</a>
                    </div>
                </dd>
                
                <!-- Host Student Form Field based on MANY_TO_ONE relationship -->
                <dt><span jhiTranslate="app.hostRequest.hostStudent">Host Student</span></dt>
                <dd>
                    <div *ngIf="hostRequest.hostStudentId">
                        <a [routerLink]="['/students', hostRequest.hostStudentId, 'view']">{{hostRequest.hostStudentIdentifier}}</a>
                    </div>
                </dd>
                
                <dt><span jhiTranslate="app.hostRequest.manuallyConfirmed">Manually Confirmed</span></dt>
                <dd>
                    <span>{{hostRequest.manuallyConfirmed}}</span>
                </dd>
                <dt><span jhiTranslate="app.hostRequest.submittedByUsername">Submitted By Username</span></dt>
                <dd>
                    <span>{{hostRequest.submittedByUsername}}</span>
                </dd>
            </dl>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button" [routerLink]="['/host-requests', hostRequest.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>